/* COLORS */
$white: #fff;
$black: #000;
$mine-shaft: #333;

$color-positive: $white;
$color-negative: $black;
$color-text-primary: $mine-shaft;

$color-transparent-back: transparentize($color-positive, .85);

/* SIZES */
$header-height: 40px;

/* FONT */
$font-family-roboto: 'Roboto', sans-serif;

$font-weight-light: 300;
$font-weight-semibold: 500;

/* ANIMATION */
$animation-duration: .3s;
$animation-type: ease;