.header {
  font-family: 'Lato',sans-serif;
   background-color: rgba(255,255,255,0.2);
    maring:0;
    overflow: hidden;

  &_title{
    text-align: center;
    color: white;
    margin:0 1em;
    font-weight: 100;
  }

  &_igloo-logo {
    text-align: center;

    margin: 0 20px;
    img {
      max-width: 400px;
    }
  }

  &_busbud-logo {
    margin: 0 20px;
    height: 100%;
    img {
      max-width: 200px;
      max-height: 40px;
      width: auto;
    }
  }

}