@import 'foundation_settings';
@import 'foundation';
@include foundation-flex-grid;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  color:  #333333;
}

.lang-bar {
  text-align: center;

  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
}

@import 'home';
@import 'header';
@import 'departures';
@import 'search_bar';
@import 'filter_bar';