@import 'foundation_settings';
@import 'foundation';
@include foundation-flex-grid;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  color:  #333333;
}

.wrapper {
  background-color:  #0d0d0d;
}

@import 'landing';
@import 'header';
@import 'departures';
@import 'search_bar';
@import 'filter_bar';
@import 'language_selector';
@import 'tickets';