@import 'foundation_settings';
@import 'foundation';
@include foundation-flex-grid;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  color:  #333333;
}

.lang-bar {
  text-align: center;
}

@import 'home';
@import 'header';
@import 'departures';