.w-100 { width: 100%; }

.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }

.justify-space-between {justify-content: space-between; }
.justify-space-around {justify-content: space-around; }
.justify-center {justify-content: center; }

.align-items-center { align-items: center; }