<div
    ngbDropdown
    class="d-inline-block"
    [ngClass]="style + '-style'"
>
    <button
        ngbDropdownToggle
        class="btn btn-outline-primary selector"
        [appTranslate]="selectedLabel"
    >{{selectedLabel}}</button>

    <div
        ngbDropdownMenu
    >
        <button
            class="option-item"
            ngbDropdownItem
            *ngFor="let option of otherOptions()"
            (click)="selectOption(option)"
            [appTranslate]="option.label"
        ></button>
    </div>

</div>
