.selector {
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu {
    min-width: 8em;
    padding: 0;
    user-select: none;
    width: 8em;
}

.option-item {
    padding-left: 10px;
}

.short-style {
    .selector {
        padding: 6px;
        width: 4em;
    }
    
    .dropdown-menu {
        min-width: 4em;
        width: 4em;
    }
}

.long-style {
    .selector {
        width: 10em;
    }
    
    .dropdown-menu {
        min-width: 10em;
        width: 10em;
    }
}