.departures-page-container {
  display: flex;
  flex-direction: column;

  .departure-info-container {
    margin: 0.3rem 0.3rem 0;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.3rem;

    .departure-info__left {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-grow: 1;
      font-size: 12px;

      .time {
        color: rgb(205, 92, 92);
        margin-bottom: 0.2rem;
      }
    }

    .departure-info__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      justify-content: center;

      .price {
        text-align: right;
        margin: 0.5rem 0.5rem 0;
        color: #808080;
      }

      .operator-logo {
        img {
          max-width: 50px;
        }
      }
    }

    .row {
      flex: 1 1 auto;
      margin-bottom: 0.4rem;
    }
  }
}
