.top-bar-container {
  background: rgb(205, 92, 92);
  height: 100%;
  box-sizing: border-box;
  flex: none;
  display: flex;
  align-items: center;
  padding: 1rem;

  .language {
    display: flex;
    margin-left: auto;
    color: white;
  }

  .fa-angle-left {
    font-size: 24px;
    color: white;
  }
}
