.top-bar-container {
  background: rgb(205, 92, 92);
  height: 100%;
  box-sizing: border-box;
  flex: none;
  display: flex;
  align-items: center;
  padding: 1rem;

  .top-bar-selection {
    display: flex;
    flex-direction: row;
    margin-left: auto;

    .attribute {
      display: flex;
      color: white;
      margin-right: 10px;
    }
  }

  .fa-angle-left {
    font-size: 24px;
    color: white;
  }
}
