.select {
  display: block;
  color: white;
  line-height: 1.3;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 2%;
  -webkit-appearance: none;
  background-color: rgb(205, 92, 92);
}
