<div
    class="form-control"
    [ngClass]="{ invalid: isInvalid }"
    (click)="inputCity.focus()"
>
    <div
        class="input-title"
    >{{ placeholder }}</div>

    <input
        type="text"
        #inputCity
        [(ngModel)]="city"
        (change)=selectCity()
        (keyup)=selectCity()
        (blur)=selectCity(true)
        (selectItem)=delayedSelect()
        [ngbTypeahead]="searchCity"
        [inputFormatter]="inputNameExtractor"
        [resultFormatter]="resultNameExtractor"
        [editable]="false"
    >
</div>

<div class="alert">
    Introduce a valid city name
</div>