.form-control {
    cursor: text;
    height: 55px;

    &.invalid {
        border-color: #d61f1f;

        & + .alert {
            visibility: visible;
        }
    }
}

.input-title {
    font-size: small;
    font-weight: bold;
    margin-top: -3px;
    padding-left: 2px;
    user-select: none;
}

input {
    border: none;
    color: inherit;
    outline: none;
    width: 100%;
}

.alert {
    color: #d61f1f;
    font-size: small;
    margin: 0;
    padding: 0 0 0 13px;
    visibility: hidden;
}

:host ::ng-deep .dropdown-menu {
    font-size: small;
    margin-left: -13px;
    overflow: hidden;
    width: calc(100% - 30px);

    button {
        padding-left: 12px;
    }
}