{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "React": "writable"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-no-undef": [2, { "allowGlobals": true }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
