{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
      "browser": true,
      "node": true
    },
    "rules": {
      // it seems reasonable to me to have JSX in .js files
      "react/jsx-filename-extension": 0,
      // throws error because of the preact alias
      "import/no-unresolved": 0
    }
}
