table, .no-departures-message {
    width: 100%;
}

tr.detail-row {
    height: 0;
}

tr.departure-row:not(.expanded-row):hover {
    background: #fedada;
}

tr.departure-row:not(.expanded-row):active {
    background: #efefef;
}

.departure-row td {
    border-bottom-width: 0;
}

.departure-detail {
    overflow: hidden;
    display: flex;
}

.departure-description {
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.departure-description > * {
    margin: 10px;
}

.no-departures-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eaeaea;
    height: 64px;
    justify-content: center;
}