@import 'https://fonts.googleapis.com/css?family=Open+Sans';

@mobile: ~"only screen and (max-width: 767px)";
@accentColor: #1d7ec8;

.box-style {
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 0px 30px 0px rgba(0,0,0,0.1);
}

.clear-fix {
	:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

.rem(@attribute, @sizeValue) {
  @remValue:    @sizeValue;
  @pxValue:     @sizeValue * 10;
  @{attribute}:  ~"@{pxValue}px"; 
  @{attribute}: ~"@{remValue}rem";
}

.center-boxed {
	position:relative;
	width:960px;
	max-width:85vw;
	margin-left: auto;
	margin-right:auto;
}

.mobile-header-text {
	.rem(font-size, 1.3);
	.rem(line-height, 2);
	font-weight: bold;
	background-color: #fff;
	color: #000;
}

/*
	Structural things
*/
html, body {
	width:100%;
	min-height:100vh;
	font-family: arial, helvetica;
	background-color: #FFF;
	overflow-x:hidden;
	color:#000;
	padding:0;
	margin:0;
	font-size:62.5%;
	font-family: 'Open Sans', sans-serif;
}

#app, #app > div {
	width:100%;
	z-index:1;
	position:absolute;
}

#app > div.initializing {
	min-height:200vh;
}

.videoPresent header {
	margin-top:100vh;
	@media @mobile {
			margin-top:0;
	}
}

header {

	.center-boxed;

	.logo {
		height:280px;
		background-size: contain;
		margin:45px 0 45px 0px;
		background-repeat: no-repeat;
		background-position: center center;
		transition: height 0.3s ease-in-out;
	}
	
	@media @mobile {
		max-width:100%;
		.logo {
			height: 80px !important;
			margin:15px 5vw !important;
			max-width:90vw;
		}
	}
	
	.subTitle {
		color: red;
		text-align: center;
	}
}

section {

	.box-style;

	perspective: 500px;
  transform-style: preserve-3d;
	background-color:#fff;
	width:960px;
	max-width:85vw;
	margin-left: auto;
	margin-right:auto;
	padding:0px 0px 15px 0px;

	.listHeader {
		.rem(padding, 1.5);
		.rem(font-size, 2.4);
		.rem(line-height, 4);
		color: #000;
		text-align: center;
		.box-style
	}
	
	@media @mobile {
		max-width:100%;
		.listHeader {
			.mobile-header-text;
		}
	}
	
	.clear-fix;

}

footer {

	.rem(font-size, 1.2);
	.rem(margin-top, 8);
	width: 100%;
	position: relative;
  text-align: center;
	background-color: #fff;

  .logo {
		background-repeat: no-repeat;
	  background-image: url(/images/busbud.logo.png);
    background-size: contain;
    background-position: center center;
    height: 60px;
    .rem(margin-top, 1.5);
  }

  .text {
  	.rem(margin-top,0.5);
  	.rem(margin-bottom,2);
  	.rem(padding-left,3);
  	.rem(padding-right,3);
  }

	
	.box-style;

	/*
		WIP to populate the footer with cute icons that slide in when we scroll to it. tried a few waypoint libraries, but none of them seem to work well. => Roll one, put this back.
		.items {

			width:100%;
			height:300px;
			background-color:#fff;
			overflow: hidden;
			position:relative;

			.bkg(1);
			.bkg(2);
			.bkg(3);
			.bkg(4);
			.bkg(5);
			.bkg(6);
			.bkg(7);

			.bkg(@i) {
	        div:nth-child(@{i}) {
	          background: url('/images/footer.item.@{i}.png');
						width:300px;
						height:300px;
						position:absolute;
						left:(@i * (70%/7));
						background-size: auto;
						background-position:center center;
						background-repeat: no-repeat;
	 					transform: translate(0, 100%); 
	 					transform-origin: center center;
						animation: 1.5s slideFootItemsIn 2s ease-in-out;
						animation-fill-mode: forwards;
	        }
	    }

	    @keyframes slideFootItemsIn {
				0% { transform: translate(0, 100%)}
				75% { transform: rotateZ(0deg)}
				100% { transform: translate(0, 0%)}
			}

		}
	*/


	@media @mobile {
		margin-top:0px;
	}
	
}

/*
	Background splash
*/
.splashBackground {

	height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
	background-size: cover;
	background-position: center top;
	
	video { 
		position: fixed;
		top:0;
		left:0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		background-color: #000;
		object-fit: cover;
		transition: opacity 0.3s ease-in-out;
		opacity: 1;
	}	
	video.paused {
		opacity: 0;
	}

	.controls {
		position:fixed;
		.rem(left, 0.5);
		.rem(top, 0.5);
		.rem(width, 4);
	}

	@media @mobile {
		position:absolute;
		video, .controls {
			display:none !important;
		}
	}
}

/*
	Banner styles
*/
.banner {

	.box-style;
	
	.rem(font-size, 2.6);
	.rem(padding, 1.5);
	.rem(min-height, 6.6);
	.rem(line-height, 3.6);
    text-align: center;
	
	@media @mobile {
		position:relative;
		width:100%;
		.rem(min-height, 5);
		.rem(line-height, 3.0);
		transform: none;
		bottom:auto;
		left:0;
		right:0;
		.mobile-header-text
	}
	
}

.tagLineBanner {

	.banner;

	background-color: #2b2b2b;
	color: #fff;
	.rem(margin-bottom, 3);
	
	@media @mobile {
		background-color: #2b2b2b;
		color: #fff;
		margin-bottom:0;
	}
}
.countDownBanner {

	.banner;
	
	background-color: #000;
	color: #fff;
	
}

.errorBanner {

	.banner;

	button {
		margin: 15px auto 0px auto;
	}

	box-shadow: none;
	
}
/*
	Departures styles
*/
.departure {

	.rem(font-size, 1.4);
	margin:15px 15px 0px 15px;
	overflow:hidden;
	animation: .65s slideDownParentBump .50s ease-in-out;
  position:relative;

	.box-style;	
	
	.departureLogo {
		background-size:contain;
		background-position: center center;
		background-repeat: no-repeat;
		.rem(height, 8);
	}
	
	svg.icon {
		.rem(height, 3.2);
		.rem(width, 3.2);
	}

	.departureHeader {
		background-color: @accentColor;
		color: #ffffff;
		.rem(padding, 1.5);
		
		img {
			.rem(height, 3.2);
		}
	}

	.depatureInner {
		animation: .55s slideDown ease-in-out;
		transform-origin: 50% 0%;
		color: @accentColor;
		background-color: #ffffff;
		.rem(padding, 1.5);
		
		> div > div {
			box-shadow: 1px 0px 0px rgba(0,0,0,0.05);
		}

		@media @mobile {

			.loading {
				min-height:295px;
			}
		
			> div > div:nth-child(3), 
			> div > div:nth-child(4) {
				box-shadow: 0px -1px 0px rgba(0,0,0,0.05);
				.rem(padding-top, 1.5);
				.rem(margin-top, 1.5);
			}
			.button {
				margin-top:0;
				width:auto;
			}
		}
	
		.labelText {
			color: #666;
		}
		.time {
			.rem(font-size, 1.8);
			font-weight: Bold;
			color: #000;
		}
		.location {
			.rem(font-size, 1.2);
			color: #000;
		}
		.price {
			.rem(font-size, 2.4);
			color: #000;
		}
		.currency {
			.rem(font-size, 1.2);
			.rem(margin-left, 0.8);
		}
		.buy {
			text-align: right;
		}
	}
}

	.departure.loading {
		min-height:108px;
	  animation: none;
	}

	@media @mobile {
		.departure.loading {
			min-height:278px;
		}
	}

/*
	Misc UI
*/

svg.icon {
	color:  @accentColor;
	fill:   @accentColor;
	.rem(width, 4);
	.rem(height, 4);
}

	button.iconToggle {
		.rem(height, 4);
		.rem(width, 4);
		.rem(min-width, 4);

		padding:0 !important;
		margin:0;
		top:0;
		right:0;
		background-size: 100% 100%;
		background-color: transparent;
		border-width: 0;
		outline: none;
	}

	/* Anything is a button! */
	button, .button {
		border-width: 0;
		border-radius: 2px;
		background-color: @accentColor;
		.rem(min-width, 11);
		.rem(font-size, 1.4);
		font-weight:bold;
		color: #fff;
		display: block;
		.rem(height, 3);
		.rem(line-height, 3);
		text-align: center;
		text-decoration: none;
		.rem(margin-top, 1.5);
		transition: background-color 0.25s ease-in-out;
		.rem(padding-left, 2);
		.rem(padding-right, 2);
	}
	button:hover, .button:hover {
		background-color: lighten(@accentColor, 10%);
	}
	button:active, .button:active {
		background-color: darken(@accentColor, 10%);
	}

		@media @mobile {
			.button {
				.rem(line-height, 6);
				.rem(height, 6);
				min-width:auto;
			}
		}
	
/*
	Animations
*/
@keyframes fadeIn {
	0% { opacity: 0;}
	100% { opacity: 1;}
}
@keyframes fallDown {
	0% { transform: rotateX(50deg) scaleY(0); }
	100% { transform: rotateX(0deg) scaleY(1); }
}
@keyframes slideDown {
	0% { transform: translate(0px, 100%); opacity:0; }
	100% { transform: translate(0px, 0%); opacity:1; }
}
@keyframes slideDownParentBump {
	0% { transform: translate(0px, 0); }
	10% { transform: translate(0px, -3px); }
	100% { transform: translate(0px, 0px); }
}