.searchButtonContainer {
  width: 250px;
  height: 70px;
  background-color: white;
  border-radius: 2px;
  @media (min-width: 992px) {
    margin-top: 200px;
  }
  @media (max-width: 991px) {
    margin-top: 50px;
  }
  margin-left: auto;
  margin-right: auto;
}

.searchButton {
  width: 100%;
  height: 100%;
  font-size: 35px;
  color: white !important;
  svg {
    fill: #FFB029 !important;
  }
}

.scheduleSpinner {
  width: 100px;
  height: 100px;
  margin: auto;
}
