.header
  .navbar
    a.header-brand(href="/")
      img.logo(src="https://busbud.imgix.net/busbud-logos/busbud_logo.svg?auto=compress%2Cformat" alt="Busbud" aria-label="Busbud")
    .header-details
      a.autor(href="https://www.linkedin.com/in/saraneila/" target="_blank") Sara Neila
      a.header-details-language(href="/?clang=es")
        img(src="/images/spanish.png" alt="español")
      a.header-details-language(href="/?clang=en")
        img(src="/images/english.png" alt="english")
