.modal(fade id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-loading
    .modal-loading--container
      .modal__img
        img(src="https://busbud.imgix.net/results/bus.png?auto=compress%2Cformat", alt="bus")
      .modal__animation
        .modal__animation--item
        .modal__animation--item
        .modal__animation--item
    .modal__error #{translation.ERROR_SEARCH}
