<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); %>
  </head>

  <body>
    <%- include('navigation'); %>
    <div class="container">
      <%- include('logo'); %>

        <h1>Unable to verify Form, please refresh page and try again.</h1>
        <p>Click <a href="/">here</a> to restart search.</p>

    </div>
    <%- include('scripts'); %>
  </body>
</html>
