<title><%=translation.TITLE%></title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.3/combined/css/gijgo.min.css" integrity="sha256-SjogiDovxtLTbFoR+i+JxpGVFlrJmgUfZgguVWjTGZc=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.3/modular/css/datepicker.min.css" integrity="sha256-dbv7SEpnLi9nM8kV5uzj3bwygfjxcmUTqFo9B3/7ZGI=" crossorigin="anonymous" />
<link rel='stylesheet' href='/stylesheets/style.css'/>
