doctype
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title Osheaga Festival buses from NYC
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700", type="text/css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.2.1/material.purple-pink.min.css")
    link(rel="stylesheet", href="/dist/app.css")
  body
    div#app
    script(defer, src="https://code.getmdl.io/1.2.1/material.min.js")
    script(src="/dist/bundle.js")
