extends layout

block content
	.container-fluid.content
		.row
			.col-md-4.col-md-offset-4.col-xs-8.col-xs-offset-2
				img.title.img-responsive.center-block(alt='Osheaga' src='https://cloud.githubusercontent.com/assets/1574577/12971188/13471bd0-d066-11e5-8729-f0ca5375752e.png')
		.row
			.col-md-6.col-md-offset-2.col-xs-10.col-xs-offset-1
				#container
