doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')

    // Bootstrap
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')


  body
    include navbar
    block content
    block reactscript

    //jQuery
    script(src="/bower_components/jquery/dist/jquery.min.js", type="text/javascript")
    
    // Bootstrap
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js', type="text/javascript")