doctype html
html
  head
    title= title

    meta(charset='UTF-8')
    meta(name='description' content='Bus timetables for all your routes')
    meta(name='keywords' content='bus,timetable,schedule,busbud')
    meta(name='author' content='Sara Neila')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')

    link(rel="shortcut icon" href="https://busbud.imgix.net/results/bus.png?auto=compress%2Cformat")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    h1.sr-only Busbud
    include _header.jade
    .container--main
      block content

  include _footer.jade
