<div class="row text-center">
  <div class="col-12 mx-auto">
    <a href="http://www.osheaga.com/">
      <img src="https://cloud.githubusercontent.com/assets/1574577/12971188/13471bd0-d066-11e5-8729-f0ca5375752e.png"/>
    </a>
  </div>
</div>