nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		.navbar-header
			a.navbar-brand(href='#')
				img(alt='Osheaga' src='https://cloud.githubusercontent.com/assets/1574577/12971188/13471bd0-d066-11e5-8729-f0ca5375752e.png')