.card {
  p {
    margin: 0;
    padding: 0;
  }
}

.card-top {
  // position: absolute;
}

.card-middle {
  display: flex;
  flex-flow: row;
}

.card-middle-icon {
  width: 100px;
}

.card-price {
  width: 40px;
  top: 10px;
  right: 10px;
  display: inline-block;
}

.card#loading-card {
  padding: 25px 30px 15px 30px;
}
