
<div class="container px-0">
  <div class="row card">
    <div class="col-12">
      <div class="row">
        <div class="col-12 company-logo text-left">
          <img class="brand-logo" src="../../assets/images/company.png" alt="image not found">
        </div>
        <div class="col-6 time text-center">
          <div class="dept-time-details mb-2">
            Dept Time
            <span class="d-time"> 19:00 hrs</span>
          </div>
          <div class="arr-time-details">Arr Time
            <span class="a-time"> 2:00 hrs</span>
          </div>
        </div>
        <div class="col-6 location text-center">
          <div class="departing-location-details mb-2"> From
            <span class="d-location">New York</span>
          </div>
          <div class="arriving-location-details"> To
              <span class="a-location">Montreal</span>
            </div>
        </div>
        <div class="col-12 price text-center mt-2 mb-2 ">C$ 100</div>
      </div>
    </div>
  </div>
</div>