

.Departure
  font-family: Courier New, Courier, monospace
  border: 1px solid black
  // box-shadow: 0 0 3px #000000
  padding: 10px
  margin-bottom: 10px
  width: 100%
  .TripItems
    display: flex
    flex-direction: column
    margin-bottom: 10px
    .TripItem
      display: flex
      // border: 1px solid black
      .TripItemHour
        width: 80px
      .TripItemLocation