
/*
 *      Plain Primary
 *      -------------
 */


.button-primary {

    display: inline-block;
    padding: 8px 24px 9px;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: $primary-color;
    color: $primary-light;
    font-family: $primary-font;
    font-size: .875em;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {


        background-color: $secondary-color;
        color: $primary-light;
    }

    &--transparent {

        background-color: rgba($primary-light, .45);
        color: $primary-light;

        &:hover {

            background-color: $secondary-color;
            color: $primary-light;
        }  
    }

    &--small {

        padding: 7px 16px;
        border-width: 1px;
        font-weight: 400;
    }
}
