.Content
	flex-direction: column
	padding-top: 30px
	.Form
		width: 100%
		.SearchBtn
			height: 40px
			margin: 20px 5px 0px 5px
			@media (max-width: 1024px)
				width: 100%
		.FormGroup
			margin: 5px 0
			display: flex
			align-items: center
			justify-content: flex-start
			@media (max-width: 1024px)
				flex-wrap: wrap
			.FormItem
				width: 100%
				padding: 0 5px
				input, > div
					width: 100%
				.DatePicker
					height: 40px
	.ShowResult
		width: 100%
		align-items: center
		justify-content: center
		align-items: center
		padding: 30px 0px
		min-height: 20vh
		flex-wrap: wrap
		display: flex