* {
  box-sizing: border-box;
}

html,
body,
#root,
.main-container {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-flow: column;
}

.search-container {
  background-color: rgb(176, 201, 255);
  padding: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url(https://www.osheaga.com/uploads/osheaga/backgrounds/Osheaga-homecoming.jpb.jpg?v=67a753a108ff7d65f3d9355c44518fdf);
  background-position-x: center;
  background-position-y: 45%;
}

.search-input-form {
  display: flex;
  flex-flow: row wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.result-container {
  padding: 20px 0;
  background-color: #7cc9d0;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.logo-image {
  margin: 30px;
  max-width: 400px;
  display: block;
}

.search-button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: #ff5c60;
  border-style: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
}

.search-button:hover {
  background-color: #d14c4e;
  cursor: pointer;
  text-decoration: none;
}

button:focus {
  outline: none;
}

input:hover {
  cursor: pointer;
  text-decoration: none;
}

.form-input {
  width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: white;
  text-align: center;
  border-right: 1px solid rgb(180, 180, 180);
  cursor: pointer;
}

#date-input {
  padding-left: 20px;
  border-style: none;
  font-family: inherit;
  font-size: inherit;
}

.search-input-form > *:first-child {
  border-radius: 10px 0 0 10px;
}

.search-input-form > *:last-child {
  border-radius: 0 10px 10px 0;
}

#osheaga-schedule {
  max-width: 1000px;
  width: 80%;
  box-sizing: inherit;
  border: 10px solid white;
}
