/* html {
  height: 100%;
} */

body {
  margin: 0;
  padding: 0;
  background-color: rgb(241, 241, 241);
  box-sizing: border-box;
}

html,
body,
#root,
.main-container {
  height: 100%;
}

.main-container {
  /* display: flex; */
  /* flex-flow: column nowrap; */
  /* align-content: center; */
  /* background-image: url(https://www.osheaga.com/uploads/osheaga/backgrounds/Osheaga-homecoming.jpb.jpg?v=67a753a108ff7d65f3d9355c44518fdf); */
}

.logo-image {
  margin: 50px;
  max-width: 400px;
}

.card {
  margin: 10px;
  padding: 10px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 3px #b3b3b3;
}

.search-button {
  width: 300px;
  height: 30px;
}
