.search-container {
  background-color: rgb(176, 201, 255);
  padding: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url(https://www.osheaga.com/uploads/osheaga/backgrounds/Osheaga-homecoming.jpb.jpg?v=67a753a108ff7d65f3d9355c44518fdf);
  background-position-x: center;
  background-position-y: 45%;
}

.logo-image {
  margin: 30px;
  max-width: 400px;
  width: 50%;
  display: block;
}
