.app-wrap {
  height: 100vh;
  background-color: $bck-color;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex-grow: 1;
  overflow-y: scroll;
}

@keyframes bump {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
