header {
  text-align: center;
  background: #127ccb;
  color: white;
}
header .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

form  {
  padding-top: 40px;
  padding-bottom: 40px;
}

input, textarea{
    background-color:white;
    color: white;
}

ul {
  list-style-type: none;
}

li {
  padding: 20px;
}

.operatorImage{
  max-height: 100px;
  padding-bottom: 20px;
}

.departureTime{
  padding-top: 15px;
  padding-bottom: 15px;
}

.departureLocation{
  padding-top: 15px;
  padding-bottom: 15px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
