@font-face {
  font-family: 'Codec Pro';
  src: url('/fonts/codecpro-bold-webfont.woff2') format('woff2'),
    url('/fonts/codecpro-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Codec Pro';
  src: url('/fonts/codecpro-light-webfont.woff2') format('woff2'),
    url('/fonts/codecpro-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Codec Pro';
  src: url('/fonts/codecpro-regular-webfont.woff2') format('woff2'),
    url('/fonts/codecpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
