// Link Colours
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$red: rgb(255, 0, 0);
$dark-red: rgb(139, 0, 0);
$link-color: #06c;
$link-color-light: #bed8f5;
$nav-link-color: $white;
$base-header-colour: #0d243c;
$border-colour: #566a80;
$table-row-colour: rgb(242, 242, 242);
$selected-column: rgba(203, 203, 203, 0.425);

// Tables
$table-row: rgba($black, 0.05);

// Font Sizes
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-36: 2.25rem;
$size-100: 6.25rem;

// Widths
$container-width: 1100px;
