@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import '_mixins.scss';

html {
  font-family: 'Nunito Sans';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 87.5%; /*14px*/

  @include respond(tab-land) {
      font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
      font-size: 50%; // 1rem = 8px
  }

  @include respond(big-desktop) {
      font-size: 75%; // 1rem = 12px
  }

  @include respond(phone) {
      font-size: 50%; // 1rem = 6px
  }
}
