@import '_mixins.scss';

html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%; /*16px*/

  @include respond(tab-land) {
      font-size: 87.5%; // 1rem = 14px
  }

  @include respond(tab-port) {
      font-size: 75%;  // 1rem = 12px
  }

  @include respond(big-desktop) {
      font-size: 100%; // 1rem = 16px
  }

  @include respond(phone) {
      font-size: 62.5%; // 1rem = 10px
  }
}
