$blue: #127ccb;
$orange: #f19020;

html {
  height: 100%;
}

body {
  background-color: #f6f6f6;
  overflow-x: hidden;
  position: relative;
  overflow: auto;
}

.list {
  margin-top:60px;
}

.top-container {
  background-color: $blue;
  color: white;
  padding: 20px 0px 60px 0px;
}

.searcher {
  width: 60%;
  margin: 0 auto;  
}

.searcher input[type=date] {
  margin-right: 20px;
  border-radius: 7px;
  border: none;
  height: 30px;
  padding: 5px 5px 5px 10px;
  float: left;
  width:10em;
  line-height: 30px;
}


.searcher .button {
  background-color: $orange;
  border: none;
  width:120px;
  height: 40px;
  color: white;
  border-radius:5px;
  cursor: pointer;
  float: left;
}

.times, .locations {
  display: flex;
  justify-content: space-between;
  flex-direction: column;  
}

.icons>img {
  opacity:0.3;
}

.icons div:last-child img{
  margin-top:0px;
}

.icons div:first-child img{
  margin-top:2px;
}

.locations div:last-child {
  margin-bottom: 4px;
}


.times div:last-child {
  margin-bottom: 4px;
}


.top-container .header {
  text-align:left;
  width: 60%;
  margin: 45px auto;  
}

.top-container .header h1 {
  font-size: 36px;
}

.top-container .menu{
  width:60%;
  height:80px;
  margin: 0 auto;
}

.top-container .menu-logo{
  height:36px;
  float:left;
}

.top-container .button:focus {
  outline: none;
}

.ticket {
  max-width: 71.4285714286rem;
  height: 120px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.24);
  margin: 1.4285714286rem auto;
  width: 60%;
  padding: 20px;
}

.ticket .top {
  display: flex;
  justify-content: space-between
}

.ticket .top img {
  height:25px;
}

.ticket .middle {
  text-align: left;
  display:flex;
  flex-direction: row;
  padding-top:20px
}

.ticket .times {
  margin:0px 5px;
}

.ticket .icons img {
  height:20px;
}

.ticket .price {
  color:$blue;
  font-weight: 700;
  font-size: 1.4285714286rem;
  line-height: 1.4285714286rem;  
}

.ribbon {
  margin: 0;
  padding: 0;
  color: white;
  position: absolute;
  top: -5em;
  right: -6em;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
  height: 6em;
  box-shadow: 0 17px 14px 5px rgba(0, 0, 0, 0.24);
  border: 1px solid #0c0303;
}

button:disabled {
  cursor:not-allowed;
  opacity:0.5;
}

.localization {
  position: relative;
  top: 15px;
  left: 15px;
  background-color: #127ccb;
  color: white;
  border: none;
  float: left;
}

.localization:focus {
  outline: none;
}

@media only screen and (max-width: 900px) {
  .searcher input[type=date] {
    display: block;
    float: none;
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 695px) {
  
    .menu {
      display: flex;
      flex-direction: column;    
    }
    
    .top-container .menu-logo {
      align-self: flex-start;
    }
  
  .localization{
    position: relative;
    left: 42px;
    background-color: #127ccb;
    color: white;
    border: none;
    width: 69px;
    top: 0px;   
  }

}

@media only screen and (max-width: 550px) {
  .ribbon {
    height: 4em;
    top: -4em;
    right: -5em;    
    box-shadow: 0 17px 15px 0px rgba(0, 0, 0, 0.24);
  }
  .header {
    padding-right: 70px;
  }
  .menu {
    padding-right: 70px;
  }
  .polling span {
    display:none !important;
  }

  .polling>img {
    right:0px !important;
  }

  .searcher {
    padding-right: 70px;
  }

  .list {
    margin-top:40px;
  }
  .loading {
    margin-top: 0px !important;
  }

  .locations div {
    font-size:0.8em;
  }

  .ticket {
    width:70%;
  }

}

.loading {
  margin-top: 50px
}

.polling {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.polling>span {
  display: block;
  margin-bottom: 10px;
  color: $blue;
  font-weight: 500;
}

.polling>img {
  width: 40px;
}

.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: rebeccapurple;
}
.ribbon:before {
  right:100%;
}


.App {
  position: relative;
  overflow-x: hidden;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
