@import (reference) "config.less";

/**********************************
HOW MANY ELEVATION LEVELS TO BUILD
**********************************/
.elevation(@index) when (@index > 0) {
    box-shadow: 0 (@index * 1.6px) (3px * @index) @shadow, 0 0 2px fade(@shadow, 15%);
    z-index: @index;
}

.elevation(@index) when (@index = 0) {
    box-shadow: none;
    z-index: 1;
}


/* Add the .hidden class to any elements that you want to hide from all presentations, including screen readers. */
.isHidden {
    display: none;
    visibility: hidden;
}

/* Adding .clearfix to an element will ensure that it always fully contains its floated children.    */
.clearfix {
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.fieldLabel {
    display: block;
    height: 1em;
    line-height: 1em;
    font-size: 0.85em;
    margin-bottom: 10px;
    font-weight: 700;
}

input, select {
    background: #fff;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 1em;
    border-radius: 3px;
    box-shadow: inset 0 0 rgba(0,0,0,0.20);
    padding: 0 7px;
    width: 100%;
    box-sizing: border-box;
}

select {
    width: auto;
}