.header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 2rem 0;

  img.osheaga {
    width: 40%;
  }

  img.logo {
    width: 8%;
  }

  p {
    margin: 1rem;
  }
}
