@import "./variables";
@import "./defaults";

// Views
@import "../views/Search/search.view";
@import "../views/Departures/departures.view";

// Components
@import "react-datepicker/dist/react-datepicker.css";
@import "../components/Spinner/spinner.component";
@import "../components/DepartureCard/departureCard.component";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .nav {
    background: $base-header-colour;
    border-bottom: 1px solid rgba(171, 157, 157, 0.5);
    color: $white;
    display: flex;
    padding: 6px 0;

    &-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      width: 100%;

      &-selectors {
        display: flex;
        justify-content: space-between;
        width: 130px;
      }

      h1 {
        cursor: pointer;
        letter-spacing: 1.5px;
      }
    }
  }

  .body {
    background-color: $base-background-colour;
    display: flex;
    flex-direction: column;
    font-size: $size-14;
    height: 100vh;
    overflow-y: scroll;
  }

  .footer {
    background: $base-header-colour;
    color: $white;
    display: flex;

    &-container {
      display: flex;
      font-size: $size-12;
      padding: 20px;
    }
  }
}

// React Datepicker
.react-datepicker-wrapper {
  input[type="text"] {
    cursor: pointer;
  }
}
