@import '_mixins';
@import '_variables';

.listCard {
  margin: 15px;

  &__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--operator {
      color: $color-dark-grey;
    }

    &--price {
      color: $color-dark-grey;
    }
  }

  &__lower {
    &--schedule {
      display: flex;
      align-items: center;

      p {
        margin-right: 10px;
      }

      span {
        color: $color-blue;
      }
    }
  }
}
