@import (reference) "definitions.less";

#uiLoader {
  background-position: center @desktopPadding;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: rgba(255,255,255, 0.87);
  background-image: url("../images/loader.gif");
  background-repeat: no-repeat;
  background-size: 36px 36px;
  &.appLoader {
    z-index: 10000;
    background-position: center center
  }
}

/*
#uiLoader {
  width: ~"calc(100% - 20px)";
  height: ~"calc(100% - 20px)";
  position:absolute;
  top:0;
  left:0;
  padding:0;
  margin:0;
  z-index:10000;
  @media (max-width: @mobileMaxWidth) {
    width: ~"calc(100% - 6px)";
    height: ~"calc(100% - 20px)";
  }
}
*/