@import 'bulma/sass/utilities/mixins';

.MainSection {
  margin-top: 1.75em;

  .description {
    color: #666;
    text-align: center;
    font-size: 1.1em;
  }

  .notification {
    margin: 1.75em 0;
  }

  @include touch {
    margin-left: 1em;
    margin-right: 1em;
  }
}
