$header-background-color: #127ccb;
$header-font-color: white;
$body-color: #F6F6F6;
$content-color: white;
$comment-color: gray;

body {
	background-color: $body-color;
}

.header {
	background-color: $header-background-color;
	color: $header-font-color;
	padding: 15px 0;

	.lang-select {
		float: right;
		width: fit-content;
	}

	.curr-select {
		float: right;
		width: fit-content;
		margin-right: 5px;
	}
}

.ordering-panel {
	.panel {
		padding: 10px 20px;

		.badge {
			padding: 5px;
			margin-right: 5px;
		}

		.results {
			color: $comment-color;
		}
	}
}

.filtering-panel {
	padding: 10px;

	label {
		font-weight: inherit;
		display: block;

		input {
			margin-right: 10px;
		}
	}
}

.departure-list {

	.departure-item {
		background-color: $content-color;
		margin-bottom: 10px;
		padding: 20px;
		border-radius: 4px;  /* 4px to be aligned with the bootstrap panel border-radius */

		.operator, .price {
			font-weight: bold;
		}

		.duration {
			color: $comment-color;
			text-align: center;
		}
	}
}