@import '_variables.scss';

.results-container {
  padding: 75px 50px;

  .result-header {
    padding-bottom: 25px;
    font-weight: $bold;

    &.loading:after {
      overflow: hidden;
      display: inline-block;
      position: absolute;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4,end) 1500ms infinite;      
      animation: ellipsis steps(4,end) 1500ms infinite;
      content: "\2026";
      width: 0px;
    }

    @keyframes ellipsis {
      to {
        width: 30px;    
      }
    }
    
    @-webkit-keyframes ellipsis {
      to {
        width: 30px;    
      }
    }
  }

  .result-card {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: 15px;
    padding: 15px 40px;
    border-radius: 15px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    color: #000;

    .operator-img {
      width: 15%;
      padding-right: 15px;
      margin-top: auto;
      margin-bottom: auto;

      .operator {
        width: 100%;
      }

      .operator-name {
        text-align: center;
        margin-top: 5px;
      }
    }

    .travel-info {
      text-align: left;
      position: relative;
      width: 70%;
      padding-left: 25px;

      .travel-title {
        font-size: 100%;
        margin-top: 0px;
        margin-bottom: 2px;
      }

      .time {
        font-weight: $bold;
      }

      .duration {
        font-weight: 500;
      }

      .travel-time {
        margin-bottom: 0px;
      }
    }

    .price-info {
      text-align: right;
      position: relative;
      width: 15%;

      .price {
        font-weight: $bold;
        font-size: 150%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);        
      }
    }

    .departure, .arrival {
      font-size: 125%;
      margin-left: 25px;
    }
  }
}

.column {
  flex-grow: 1;
}

hr {
  margin-top: 0px;
  margin-bottom: 10px;
}
