@import '_mixins';

.searchBox {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include respond(phone)  {
    flex-wrap: wrap;

    &__button {
      flex-basis: 100%;
      margin-top: 5px;
    }
  }
}
