@import (reference) "definitions.less";

.searchBox {
  .clearfix();
  max-width: 720px;
  margin: 20px auto;
  background-color: rgba(31, 36, 43, 0.9);
  border-radius: 3px;
  padding: 20px 5px 5px 5px;
  box-sizing: border-box;
  border-top: 3px solid rgb(255, 165, 0);
  .fieldLabel {
    color: #90a4ae;
  }
}

.searchBox__title {
  color: #fff;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
  padding-bottom: 20px;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0 10px 15px 10px;
}

.searchBox__button {
  background: #ffb029 linear-gradient(#ffb029, #e67919 85%, #e67919 90%, #e67919) repeat scroll 0 0;
  border: 1px solid #cf6d17;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 42px;
  margin-top: 16px;
  outline: medium none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  width: 100%;
}