/*Modules*/
@import './modules/button';
@import './modules/loading';
@import './modules/select';
@import './modules/home_container';
@import './modules/header_container';
@import './modules/departures_container';
@import './modules/error';

body {
  font-family: 'Perpetua', sans-serif;
  line-height: 1.3;
  color: black;
  background: rgb(205, 92, 92);
  height: 100%;
  margin: 0;
}

.full-height-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f6f6f6;
}

.app-header {
  flex: none;
  height: 60px;
  width: 100%;
  position: fixed;
}

.app-main {
  margin-top: 60px;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .full-height-layout {
    max-width: 700px;
    margin: auto;
  }
}
