doctype html
html
  head
    title Busbud - Schedules
    meta(charSet="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="/public/images/favicon.ico")
    link(rel="stylesheet", href="/public/bootstrap.css")
  body
  div#app
    | !{content}
  script.innerHTML APP_PROPS= !{injectedScript} 
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  script(src="/public/bootstrap/dist/js/bootstrap.min.js")
  script(src="/public/build.js")