.Section
	width: 50%
	padding: 5px
	display: inline-block
	@media (max-width: 1024px)
		flex-wrap: wrap
		width: 100%
	.Info
		border: 1px solid black
		padding: 15px
		font-family: Courier New, Courier
		.Log
			height: 70px
			@media (max-width: 320px)
				display: none
		.title
			padding-top: 10px
			font-weight: bold
		.description
			padding-left: 15px