.enter {
  transform: translateX(500px);
}

.enterActive {
  transform: translateX(0);
  transition: all 200ms ease-in-out;
}

.exit {
  transform: translateX(0);
}

.exitActive {
  transform: translateX(500px);
  transition: all 200ms ease-in-out;
}
