
/*
 * 		Colors
 * 		------
 */

$primary-light      : #ffffff;
$secondary-light	: #f7f6f6;

$primary-dark       : #01060a;
$secondary-dark		: #8e9397;

$primary-color    	: #0b72be;
$secondary-color	: #f19020;

$positive-color 	: #94e291;
$negative-color 	: #f06d63;




/*
 * 		Fonts
 * 		-----
 */

$primary-font       : 'Open Sans', Helvetica, Arial;




/*
 * 		Breakpoints
 * 		-----------
 */

$micro-breakpoint   : 540px;
$tiny-breakpoint    : 700px;
$small-breakpoint   : 900px;
$medium-breakpoint  : 1024px;
$large-breakpoint   : 1320px;
$huge-breakpoint    : 1600px;




/*
 * 		Site Continer Size
 * 		------------------
 */

$huge-site-width    : 1600px;
$bigger-site-width  : 1280px;
$max-site-width     : 1180px;
$mid-site-width     : 1024px;
$min-site-width     : 820px;
$half-site-width    : 600px;

