.travel-search__search-title,
.travel-search__result-title {
  text-align: center;
}

.travel-search__search-title {
  margin-bottom: 7px;
}

.travel-search__result-title {
  margin-top: 30px;
  @media screen and (max-width: 600px) {
    margin-top: 11px;
  }
}
