.departureContainer {
  width: 100%;
  height: 72px; // same size as the default Card from Material-UI
  background-color: white;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
