.navbar{
  position: absolute;
  display: flex;
  width: 100%;
  background-color: $blue;
}


.header .navbar .autor{
  color: $white;
}

.autor{
  padding-right: 20px;
}
.header-details-language{
  padding: 0 5px;
  img{
    height: 20px;
  }

}
