.selector {
    cursor: pointer;
}

.form-control {
    height: 55px;
}

.input-title {
    font-size: small;
    font-weight: bold;
    margin-top: -3px;
    padding-left: 2px;
    user-select: none;
}

.travelers {
    align-items: center;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    user-select: none;
    width: 100%;
}

:host ::ng-deep .dropdown-menu {
    margin-left: -13px;
    user-select: none;
    width: 100%;
}

.age-selector {
    margin: 5px 0 0;
}