<div ngbDropdown
    class="selector"
    #dropdown="ngbDropdown"
    [ngClass]="{ invalid: total == 0 }"
>

    <div class="form-control">
        <div class="input-title"
            (click)="$event.stopPropagation(); dropdown.toggle();"
        >Passengers</div>

        <span class="travelers"
            ngbDropdownToggle
        >{{ total }} Passengers</span>
    </div>
    
    <div ngbDropdownMenu >
        <div class="row age-selector" >
            <app-age-selector
                title="Adults"
                [value]="values.adult"
                (valueUpdated)="updateValue('adult', $event)"
            ></app-age-selector>
        </div>
        <div class="row age-selector" >
            <app-age-selector
                title="Children"
                [value]="values.child"
                (valueUpdated)="updateValue('child', $event)"
            ></app-age-selector>
        </div>
        <div class="row age-selector" >
            <app-age-selector
                title="Seniors"
                [value]="values.senior"
                (valueUpdated)="updateValue('senior', $event)"
            ></app-age-selector>
        </div>
    </div>
          
</div>

<div class="alert">
    Please add some travelers
</div>