@import '../../../shared/Styles/Colors.sass'

.Header
	height: 90px
	background-color: $bgd-color
	padding: 0 20px
	display: flex
	.title
		text-align: center
		font-size: xx-large
		font-weight: bold
		color: $title-color
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		@media (max-width: 320px)
			display: none