@import '../../../shared/Styles/Colors.sass'

.Container
	min-height: 100vh
	background-color: $primary-color
	color: $text-color
	.Navbar, .Content
		padding: 0 10vw
		@media (max-width: 767px)
			padding: 0 5vw