<div class="row">
    <app-city-picker
        class="col-sm spaced"
        placeholder="Origin"
        (citySelected)=selectOrigin($event)
    ></app-city-picker>
    
    <app-city-picker
        class="col-sm spaced"
        placeholder="Destination"
        (citySelected)=selectDestination($event)
    ></app-city-picker>
    
    <app-date-picker
        class="col-sm spaced"
        (dateSelected)=selectOutboundDate($event)
    ></app-date-picker>
    
    <div class="col-sm spaced centered">
        <button
            class="btn btn-primary search-btn"
            [ngClass]="searchReady ? 'btn-primary' : 'btn-secondary'"
            [disabled]="searchReady ? null : 'disabled'"
            (click)=searchTrips()
        >Go!</button>
    </div>
</div>
