.departure {
  display: flex;
  padding: 10px;
  background: transparentize($color-positive, .85);

  &:nth-child(even) {
    background: transparentize($color-positive, .8);
  }

  &__from,
  &__to {
    flex: 1 1 50%;

    span {
      display: block;
      padding: 0 10px;
      line-height: 1.5;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    padding: 0 20px 0 10px;
    flex: 0 0;
    white-space: nowrap;

    * {
      display: inline-block;
      padding-right: 4px;
    }
  }

  &__select {
    flex: 0 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    align-self: center;
  }
}