.departure-result {
    flex-grow: 1;
    max-width: 600px;
    margin-top: 16px;
    padding: 16px;

    a {
        -webkit-appearance: none;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        border-radius: 40px;
        font-family: Changa One,impact,sans-serif;
        font-weight: 400;
        line-height: 2.5rem;
        padding: 0 30px;
        transition: all .3s ease-in-out;
        background-color: #80cbb2;
        border: 2px solid #80cbb2;
        color: #fff;
    }

    img {
        width: 128px;
        height: 128px;
        margin: auto;
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}