@import '../variables.scss';

.departure-results {
    margin-top: 24px;
    width: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: $break-medium - 1) {
        width: 80%;
    }

    @media only screen and (min-width: $break-medium) {
        width: 500px;
    }
}