.SearchForm{
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #287FC6;
    box-shadow: 0 8px 6px -4px #9E9E9E;



    .text-field {
        margin-right: 20px;
        label + div{
            color: white;
        }
        
        label {
            color: white;
        } 
        fieldset {
            border-color: white;
        }
    }

    button {
        color: white;
        background-color: #ffc107;
        &:hover {
            background-color: #ff9800
        }
    }
}

@media screen and (max-width:500px) {
    .SearchForm {
        position: static;
        flex-direction: column;
        .text-field {
            margin-right: 0;
            min-width: 300px;
        }
        button {
            width: 300px;
            margin-top: 20px;
        }
    }
}

@media screen and (min-width:500px) and (max-width:800px) {
    .SearchForm {

        flex-wrap: wrap;
        .text-field {
            margin-right: 0;
            min-width: 350px;
        }
        button {
            width: 350px;
            margin-top: 20px;
        }
    }
}
