@import '../../shared/sass/index.sass'

.Content
  min-height: 100vh
  background-color: $primary-color
  color: $text-color
  .LogoContainer
    height: 15vh
    padding: 3vh 0
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    .Logo
      height: 100%
      max-width: 100%