@import '../../shared/sass/index.sass'

.Layout
  min-height: 100vh
  background-color: $primary-color
  color: $text-color
  .Content  
    padding: 0 10vw
    @media (max-width: 767px)
      padding: 0 5vw