@import 'uiAssets/vars.pcss';

.__SCOPE {
  opacity: 0;
  animation: slideBottomAnimateIn 300ms linear 200ms forwards;
  width: 250px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+');
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid $colors-mainDark;
  box-shadow: $colors-mainDark -6px 6px 0 0;
  align-items: center;
  padding: 15px;

  > p {
    font-size: 14px;
    color: $colors-main;
    margin-top: 15px;
  }
}
