.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  background-image: url(https://www.osheaga.com/uploads/osheaga/banners/banner-05.jpg?v=25b221a44f811e738aa3b9d84a563975);
  height: 420px;
  padding: 20px;
  color: white;
}

.App-header > a > img {
  margin-top: 50px;
}

.title h1 {
  margin-bottom: 0px;
  color: rgb(79, 49, 90);
  font-size: 48px;
}

.title .powered-by {
  display: inline;
}

.title img {
  width: 82px;
  margin-bottom: 4px;
}

.ticket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: rgb(79, 49, 90);
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}