.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  background-image: url(https://www.osheaga.com/uploads/osheaga/banners/banner-05.jpg?v=25b221a44f811e738aa3b9d84a563975);
  height: 420px;
  padding: 20px;
  color: white;
}

.App-header > a > img {
  margin-top: 50px;
}

.App-intro {
  font-size: large;
}

.title h1 {
  margin-bottom: 0px;
  color: rgb(79, 49, 90);
  font-size: 48px;
}

.ticket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
