@import 'variables';

.departures-header {
  position: relative;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
    background: #000000;
  }

  .departures-header__c {
    display: flex;
    flex-direction: row;

    .departures-header__half {
      width: 50%;

      &:nth-child(2){
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        @media(max-width: $phoneWidth){
          justify-content: flex-end;
        }
      }
    }
  }

  .departures-header__arrow {
    position: relative;
    height: 36px;
    width: 36px;
    background-image: url('https://image.ibb.co/dT5kB5/arrow.png');

    &:after {
      content: '';
      position: absolute;
      width: 200px;
      height: 1px;
      left: 36px;
      top: calc(50% - 1px);
      background: #fff;
    }

    @media(max-width: $phoneWidth){
      display: none;
    }
  }
}
