.filter-item {
  padding: 10px 20px;
  box-sizing: border-box;
  border: solid 1px $blue;
  border-radius: 45px;
  background: #fff;
  transition: all 0.3s;
  color: $blue;

  &:hover {
    cursor: pointer;
  }

  &.active {
    background: $blue;
    color: #fff;
    transition: all 0.5s;
  }
}
