body{
    padding-top: 74px;
}

.departure-info{
    .departure-subtitle{
        font-size: 1.2rem;
    }

    .departure-time{
        font-size: 1.5rem;
    }

    .departure-price{
        font-size: 1.3rem;
    }

    .departure-location{
        color: #0c5460;
    }
}

.btn-onboard{
    background-color: #3f5d7d;
    border-color: #3f5d7d;
}