extends layout

block content
  div.container
    .jumbotron.margin-bottom-0
      h3.margin-top-0
        i.fas.fa-info-circle
        |  #{title}
      p
        | Search quickly using our cross-platform apps, in your local language and currency.
      p
        | Compare your options using the world’s most extensive inventory of buses: 2,200+ bus companies connecting 17,500+ cities across 79+ countries with 1,550,000+ bus routes.
      p
        | Book easily and get where you’re going!
      .row.center.followUs
        .col-md-12
          a.margin-right-15.font-dark(href="https://www.busbud.com/blog/")
            i.far.fa-comments.fa-2x
          a.margin-right-15(href="https://www.facebook.com/Busbud/")
            i.fab.fa-facebook-square.fa-2x
          a.margin-right-15(href="https://twitter.com/busbud")
            i.fab.fa-twitter-square.fa-2x
          a(href="https://www.linkedin.com/company/busbud")
            i.fab.fa-linkedin.fa-2x
