doctype html

html

	head

		block head

			block title

				title Busbud

			block meta

				meta(charset='UTF-8')

			link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
			link( rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')

			link(rel='stylesheet', href='/stylesheets/style.css')

			script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
			script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
	body
		
		include header

		block content

		include footer
