@value colors: "../layout/colors.css";
@value color-blue, color-background, color-background-transparent, color-dark-gray, color-black, color-light-black from colors;
@value fonts: "../layout/fonts.css";
@value main-font from fonts;

body {
  font-family: main-font;
  margin: 0;
  padding: 15px;
}

.app {
  /*color: color-blue;*/
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* in order to have the fixed background attachment without having terrible scrolling, this is necessary */
.app:before {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(color-background-transparent, color-background-transparent), url('../../assets/images/coachella.jpg');
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

.center-loading {
  color: white;
  text-align: center;
}

.header {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.header img {
  max-width: 100%;
  text-align: center;
}

.header p {
  font-size: 1.25rem;
}

button.fetch-button {
  border: 1px solid color-background;
  color: color-dark-gray;
  background: color-background;
  border-radius: 3px;
  padding: 15px 25x;
  margin-bottom: 10px;
  font-size: 1.25rem;
  transition: 0.4s all ease-in;
}

button.fetch-button:hover {
  cursor: pointer;
  background: transparent;
  color: color-background;
  transition: 0.4s all ease-out;
}

.leader {
  composes: card from '../layout/common.css';
  text-align: center;
}
