@import 'normalize';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", HelveticaNeue, Arial;
  background:  #39e4e8;
  color: #1E2251;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: #FAF17C;
  box-shadow: 0 2px 6px rgb(24 15 46 / 12%);

  .logo {
    margin-left: 20px;
    font-size: 24px;
  }

  .locale-links {
    margin-right: 20px;
    a {
      color: #1E2251;
      font-weight: 800;
      text-decoration: none;
    }
  }
}

p {
  margin: 0;
  margin-bottom: 3px;
}

img {
  max-width: 100%;
}

.banner-container {
  display: flex;
  justify-content: center;
  background-color: #e88748;
  position: relative;
  .banner-image {
    z-index: 0;
  }

  .welcome {
    position: absolute;
    left: 15%;
    top: 5%;
    z-index: 1;
    width: 200px;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #eb4034;
    text-shadow: 0px 0px 20px rgb(50 32 75 / 75%)
  }
 }

.departure-container {
  margin: 10px auto;
  padding: 10px 10px 5px;
  display: grid;
  min-width: 322px;
  background-color: #fff;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  grid-template-areas:
    "departure-info route-sign  arrival-info"
    "price-info price-info price-info";

  p.time {
    font-size: 14px;
  }

  p.city {
    font-size: 12px;
    color: #697886;
  }

  p.location {
    font-size: 10px;
    color: #697886;
  }

  .departure-info {
    grid-area: departure-info;
  }

  .route-sign {
    grid-area: route-sign;
    position: relative;

    .arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      width: 15px;
      height: 15px;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  .arrival-info {
    grid-area: arrival-info;
    text-align: right;
  }

  .price-info {
    grid-area: price-info;
    text-align: right;
    margin-top: 7px;
    margin-bottom: 0;
  }
}

.departure-list-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 700px;
}
