.ErrorMessage {
  text-align: center;
  color: red;
}

.ErrorMessage__message {
  padding: 10px 0;
}

.ErrorMessage__button {
  background: #eee;
  padding: 10px;
  border: none;

  &:hover {
    background: rgba(green, 0.4);
    cursor: pointer;
  }
}
