.Header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0 20px;
  align-items: center;
  flex-direction: column;
}

.Header__logo {
  display: flex;
  max-width: 400px;
  width: 100%;
}
