.lang {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    background-color: #287FC6;

    div {
        padding: 0 10px;
        cursor: pointer;
    }
}