@import "../../vars";
@import "../../susy";

.header {
    background-color: $light-blue;
    padding: $section-padding;

    &__logo {
        display: block;
        width: 50%;
        max-width: 304px;
        margin: auto;
    }

    &__welcome-message {
        font-size: 52px;
        line-height: 68px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

}