.menu--link-nostyle {
  a {
    color: #0060b6;
    text-decoration: none;
  }

  a:hover {
    color: #00a0c6;
    text-decoration: none;
    cursor: pointer;
  }
}

.menu__close-btn {
  display: flex;
  justify-content: flex-end;
}
