.button {
  padding: 0.25rem 1rem;
  color: white;
  font-size: 2rem;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  transition: background 0.5s;
}
.button:hover {
  cursor: pointer;
}
.button--primary {
  background-color: orange;
}
.button--primary:hover {
  background-color: #d28a06;
}
.button--secondary {
  background-color: skyblue;
}
