.Dashboard {
  text-align: center;
  background-color: #1a0f31;
}

.Dashboard-header {
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
  color: white;
  width: 100%;
  margin-top: -15px;
}

/* adds purple gradient to the bottom of the header */

.Dashboard-header::after { 
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #1a0f31 100%);
  margin-top: -170px;
  height: 50em;
  width: 100%;
  content: '';
}

.header-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Dashboard-title {
  font-size: 1.5em;
  z-index: 2;
}