.bus-form-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bus-form-title {
  margin: 0 0 1rem;
  color: #127ccb;
  width: 100%;
  text-align: center;
}
.bus-form__input {
  background-color: white;
  box-shadow: none;
  border: 1px solid rgba(10, 59, 95, 0.54);
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 18rem;
  color: rgba(10, 59, 95, 0.54);
}
.bus-form__input--long {
  width: 18rem;
}
.bus-form__submit {
  margin: 2rem 0 0;
}
.bus-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 760px) {
  .bus-form-card {
    align-items: flex-end;
  }
  .bus-form {
    flex-direction: row;
    justify-content: space-between;
  }
  .bus-form__input {
    width: 42%;
    margin: 1rem 0;
  }
  .bus-form__input--long {
    width: 32.5rem;
    margin-top: 0.5rem;
  }
}
