@import "./variables.scss";

.home {
  background: $green;
  background: linear-gradient(to top, $blue, $green);
  color: $lightGrey;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3em;
  h1 {
    text-decoration: underline;
  }
  &__languages {
    position: absolute;
    top: 1em;
    left: 1em;
  }
  &__search {
    &__fields {
      &__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        label {
          padding: 0.5rem;
          font-weight: bold;
        }
        input {
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
          outline: none;
          padding: 0.5rem;
          border: 1px solid #ddd;
          &:focus {
            border: 1px solid $blue;
            box-shadow: 0 0 5px $blue;
          }
        }
      }
    }
  }
  &__departures {
    width: 90%;
    margin: 1rem 0;
  }

  &--has-departures {
    .home__search {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .home {
    &__search {
      &__fields {
        display: flex;
        &__input {
          margin-bottom: 0;
          &:not(:first-of-type) {
            margin-left: 1rem;
          }
        }
      }
      .submit-button {
        width: auto;
        min-width: 30%;
      }
    }
    &--has-departures {
      .home__search {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .submit-button {
          margin-top: 0;
          margin-left: 1rem;
          min-width: auto;
          padding: 0.2rem 1rem;
        }
      }
    }
  }
}

@media (min-width: 1220px) {
  .home {
    &__departures {
      max-width: 60%;
    }
    &--has-departures {
      .home__search {
        align-items: center;
        &__fields {
          &__input {
            flex-direction: row;
          }
        }
      }
    }
  }
}
