.MainSection {
  margin-top: 1.75em; }
  .MainSection .description {
    color: #666;
    text-align: center;
    font-size: 1.1em; }
  @media screen and (max-width: 1023px) {
    .MainSection {
      margin-left: 1em;
      margin-right: 1em; } }
