.Results__locations {
    display: block;
    background-color: #fafafa;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px rgba(64,64,64, 0.64);
    padding:2rem;
    margin:2rem;
    max-width: 100%;
    margin:2rem auto;
    box-sizing: border-box;
}
