$green: rgb(67, 206, 162);
$lightGrey: rgb(237, 237, 237);
$blue: rgb(24, 90, 157);
$grey: rgb(40, 40, 40);

$lightShadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$mediumShadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 6px rgba(0, 0, 0, 0.2);
$wideShadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
