// https://coolors.co/app/ee6352-59cd90-3fa7d6-fac05e-f79d84

$red    : #EE6352;
$green  : #59CD90;
$blue   : #3FA7D6;
$yellow : #FAC05E;
$orange : #F79D84;

$white  : #f4f4f4;
$grey   : #353535;
$black  : #000000;

$bg__color    : $white;
$font__color  : $grey;
$link__color  : $green;
$hover__color : $yellow;
$title__color : $red;