@import "../../vars";

.lang-toggler {

    &__link {

        text-decoration: none;
        cursor: pointer;
        font-variant: small-caps;

        color: $dark-blue;;
        font: 700 18px "PT Sans", Helvetica, Arial;
        cursor: pointer;
        text-transform: uppercase;
        transition: 0.3s;

        padding: 8px;

        &:hover {
            background-color: $rose;
            color: white;
        }
    }
}