.container {
    background-color: rgb(228 233 239);
    border-radius: 5px;
    margin-top: 5em;
    margin-bottom: 5em;
    min-width: 20em;
    padding: 10px;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.title {
    color: #495057;
    font-size: larger;
    font-style: oblique;
    font-weight: bolder;
    padding-left: 2px;
}

.title-text {
    text-align: center;
}

.spinner-border {
    display: none;
    height: 1em;
    margin-left: 1em;
    min-width: 1em;
    width: 1em;
    margin-right: 10px;

    @media (min-width: 576px) {
        display: block;
    }
}

.sub-header {
    display: flex;
    align-items: center;
}

.sort-icon {
    filter: invert(.3);
    padding-right: 5px;
    width: 30px;
}