<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div>
  <% include ../partials/search.ejs %>
  <% include ../partials/result.ejs %>
  </div>


</body>
</html>
