.departure
  padding: 15px
  background-color: $white
  margin: 12px auto
  transition: transform 250ms linear

.departure:hover
  transform: scale(1.025)

.departure-logo
  max-width: 100px
  @media(min-width: 768px)
    max-width: 150px

.departure-hour
  display: inline-block
  font-weight: bold
  margin-right: 15px
  color: $orange
  width: 70px
  text-align: right

.departure-city
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  
.departure-from
  display: flex
  margin-bottom: 8px
  font-size: 12px
  @media(min-width: 768px)
    display: inline-block
    font-size: 14px
  @media(min-width: 992px)
    font-size: 16px


.departure-to
  display: flex
  font-size: 12px
  margin-bottom: 8px
  @media(min-width: 768px)
    display: inline-block
    font-size: 14px
    margin-bottom: 0
  @media(min-width: 768px)
    font-size: 16px

.departure-hour--to
  color: $medium-grey

.departure-city--to
  color: $medium-grey

.departure-price
  font-size: 24px
  font-weight: bold
  color: $orange
  text-align: right
  margin-bottom: 13px

.departure-price span
  font-size: 12px

.departure-select
  text-align: right

.departure-select button
  -webkit-appearance: none
  padding: 10px 15px
  border: 0
  background-color: $blue
  color: $white
  cursor: pointer
  transition: background-color 250ms linear
  width: 100%
  @media(min-width: 992px)
    width: auto

.departure-select button:hover
  background-color: $orange