.header-top-bar
  background-color: $dark-blue
  padding: 15px

.header-top-bar-lang
  text-align: right
  
.header
  background-color: $blue
  padding: 18px

.header label
  display: block
  color: $white
  font-size: 18px
  font-weight: bold
  margin-bottom: 10px