.header-top-bar
  background-color: $dark-blue
  padding: 15px

.header-top-bar-logo
  height: 50px
  background-image: url('../../images/busbud_logo.svg')
  background-size: auto 100%
  background-repeat: no-repeat
  background-position: center
  @media(min-width: 768px)
    background-position: left

.header-top-bar-lang
  text-align: right
