<div
    class="input-group"
    [ngClass]="{ invalid: !isValid }"
>

    <div
        class="form-control"
        (click)="inputDate.focus()"
    >
        <div
            class="input-title"
        >Outbound date</div>

        <input
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="date"
            ngbDatepicker
            #d="ngbDatepicker"
            #inputDate
            [minDate]="today"
            (dateSelect)="selectDate($event)"
            (keyup)="manualDate()"
        >
    </div>

    <div
        class="input-group-append"
    >
        <button
            class="btn calendar"
            (click)="d.toggle()"
            type="button"
        ></button>
    </div>
</div>

<div class="alert">
    Introduce a valid future date
</div>