@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
body {
  background-color: #571178;
}
.tagLineBanner {
  font-family: 'Shadows Into Light', cursive;
}
svg.icon {
  fill: #CCC !important;
}