@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
body {
  background-color: #571178;
}
.tagLineBanner {
	font-family: 'Shadows Into Light', cursive;
}
.splashBackground {
	background-image: url(bkg.jpg);
}
header .logo {
	background-image: url(logo.png);
}
svg.icon {
	fill: #CCC !important;
}