.container {
    background-color: white;
    border: 1px solid rgb(190 190 190);
    border-radius: 5px;
    box-shadow: 3px 5px 1px rgb(190 190 190 / 50%);
    margin: 10px 0;
    min-width: 15em;
}

.departure-section {
    display: flex;
    justify-content: space-between;
    

    &.upper-section {
        padding: 10px 0 0;
    }

    &.middle-section {
        align-items: center;
        justify-content: center;
    }

    &.bottom-section {
        padding: 5px 0 10px;
    }
}

.logo {
    max-height: 50px;
    max-width: 50%;
    object-fit: contain;
}

.price {
    font-size: larger;
    font-weight: bolder;
}

.location-time {
    width: 45%;
}

.arrow-right {
    height: 15px;
    width: 40px;
}

button {
    font-size: smaller;
    font-style: oblique;
    font-weight: bolder;
    outline: none;
}