.departures {
  margin: 0 auto;
  padding: 20px;

  &-result-title-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
  }

  &-result-title {
    display: flex;
  }

  &-departure {
    background-color: $white;
    border: 1px solid rgba($base-header-colour, 0.1);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    margin: 0 0 10px;
    transition: 50ms ease-in;
    width: 800px;

    &-travel-info {
      display: flex;
      flex: 1;
      padding: 10px;
    }

    &-arrow {
      align-items: center;
      display: flex;
      flex: 1 1;
      font-size: $size-24;
      font-weight: bold;
      flex-basis: 200px;
      justify-content: center;
    }

    &-origin,
    &-destination {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-name {
        font-weight: bold;
      }
    }

    &-destination {
      flex-basis: 200px;

      span {
        text-align: right;
      }
    }

    &-price {
      align-items: center;
      background-color: $base-header-colour;
      color: $white;
      font-size: $size-24;
      display: flex;
      padding: 20px;
    }

    &-select {
      display: flex;
      flex-direction: row;

      button {
        border-radius: 0;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .departures {
    margin: 0;

    &-departure {
      flex-direction: column;
      width: unset;

      &-destination {
        margin: 10px 0 0;
        flex-basis: unset;

        span {
          text-align: unset;
        }
      }

      &-travel-info {
        flex-direction: column;
      }

      &-arrow {
        display: none;
      }

      &-price {
        padding: 10px;
      }

      &-select {
        justify-content: center;

        button {
          padding: 10px;
          flex: 1;
        }
      }
    }
  }
}
