.departures {
  margin: 0 auto;
  padding: 20px;

  &-result-title-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
  }

  &-result-title {
    display: flex;
  }

  &-no-data {
    border-radius: 4px;
    background-color: $white;
    margin: auto;
    padding: 20px;
  }
}
