.departures {
  margin: 0 auto;
  padding: 10px 20px 20px;

  &-back {
    cursor: pointer;
    display: flex;
    margin: 0 0 10px;
  }

  &-result-title-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
  }

  &-result-title {
    display: flex;
  }

  &-no-data {
    border-radius: 4px;
    background-color: $white;
    margin: auto;
    padding: 20px;

    button {
      margin: 20px 0 0 auto;
    }
  }
}
