.pb5 {
  padding-bottom: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.operator-logo-wrap {
  height: 60px;
  overflow-y: hidden;
  display: flex !important;
  align-items: center;

  img {
    margin: auto;
  }
}
