@import "./variables.scss";

.home {
  background: $green;
  background: linear-gradient(to top, $blue, $green);
  color: $lightGrey;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    text-decoration: underline;
  }
  &__search {
    &__fields {
      &__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        label {
          padding: 0.5rem;
          font-weight: bold;
        }
        input {
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
          outline: none;
          padding: 0.5rem;
          border: 1px solid #ddd;
          &:focus {
            border: 1px solid $blue;
            box-shadow: 0 0 5px $blue;
          }
        }
      }
    }
    &__submit {
      padding: 0.5rem 2rem;
      width: 100%;
      margin-top: 1rem;
      font-size: 1.4rem;
      border: none;
      background-color: $blue;
      box-shadow: 0 0 5px lighten($blue, 10%);
      border-radius: 5px;
      color: $lightGrey;
    }
  }
  &__departures {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .home {
    &__search {
      &__fields {
        display: flex;
        &__input {
          margin-bottom: 0;
          & {
            margin-left: 1rem;
          }
        }
      }
      &__submit {
        width: auto;
        min-width: 30%;
      }
    }
  }
}
