@import '../../../styles/variables/colors.scss';
.card {
  background-image: linear-gradient(to right, $primaryColor, $white);
  box-shadow: 0 0.5rem 0.5rem rgba(black, 0.2);
  margin-bottom: 1.5rem;
  padding: 1rem;
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
  }
}
