.app {
	font-family: 'Quicksand', sans-serif;
	padding: 20px;

	.logo {
		max-width: 100%;
	}
}

.title {
	text-transform: uppercase;
}

.list-schedules {
	list-style: none;
	padding: 0;
	max-width: 600px;
	margin: 0 auto;
}

.price {
	font-weight: bold;
	font-size: 30px;
}

.arrow {
	margin-top: 24px;
	position: relative;
}

.line {
	width: 100%;
	height: 0;
	border-bottom: 1px dashed black;
	margin-top: 11px;
}

.arrow span.duration {
	display: none;
}

.location {
	line-height: 1;
	display: inline-block;
}

.date {
	line-height: 1.3;
	display: inline-block;
}

.time {
	font-size: 40px;
	line-height: 1;
}

.shuttle {
	width: 58px;
	height: 58px;
	margin-top: -3px;
}

.card {
	font-size: 14px;
	text-decoration: none;
	transition: background-color .3s;
	color: black;

	&:hover {
		text-decoration: none;
		background-color: #fff5c0;
		color: black;

		strong,
		span {
			text-decoration: none;
		}
	}
}

.subtitle {
	font-size: 14px;
}

.icon {
	height: 48px;
	width: 48px;
}

@media only screen and (min-width: 400px) {
	.arrow span.duration {
		display: inline-block;
		position: absolute;
		top: 2px;
		left: 50%;
		transform: translate(-50%, 0);
		background: white;
		border: 1px dashed black;
	}

	.duration {
		display: none;
	}

	.subtitle {
		font-size: 1.5rem;
	}
}
