
/*
 * 		Search Field
 * 		------------
 */

.search-field {

	display: flex;
	width: 100%;
	flex-direction: column;

	@media screen and (min-width: $small-breakpoint) {

        & {

        	position: relative;
        }
    }

	.search-field__form {

		display: flex;
		width: 100%;
		flex-direction: column;

		@media screen and (min-width: $small-breakpoint) {

	        & {

	        	flex-direction: row;
	        }
	    }

	    .search-field__form__input,
	    .search-field__form__select {

	    	margin-top: 8px;

			@media screen and (min-width: $small-breakpoint) {

		        & {

		        	margin-top: 0;
			    	border-right: 0;
			    	border-radius: 0;
		        }
		    }
	    }

	    .search-field__form__select {

	    	&:first-child {

				@media screen and (min-width: $small-breakpoint) {

			        & {

				    	border-radius: 2px 0 0 2px; 
			        }
			    }
	    	}
	    }

	    .search-field__form__submit {

	    	margin-top: 24px;

			@media screen and (min-width: $small-breakpoint) {

		        & {

		        	margin-top: 0;
			    	border-radius: 0 2px 2px 0;
		        }
		    }
	    }
	}

	.search-field__notifications {

		margin-bottom: 24px;
	}
}
