.App {
  text-align: center;
  background-color: #B8E0FF;
  min-height: 92vh;
  min-width: 300px;
  padding: 4vh 0px;
}

.App-card {
  max-width: 90vw; 
  margin: 0px auto;
  padding: 20px;
};

.App-logo {
  width: 100px;
}

.App-header {
  background-color: white;
  height: 120px;
  display: grid;
  grid-gap: 20px;

  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: black;
}

.App-title {
  font-size: 2em;
}

.App-subheader {
  font-size: large;
}
