.App {
  text-align: center;
}

.App-header {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 200px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.title {
  color: black;
  font-weight: bold;
  font-size: x-large;
  max-height: 100%;
  display: block;
}

