.container {
  text-align: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vmax;
}

.logo {
  background-image: url("./assets/2019bg-6.jpeg");
  pointer-events: none;
}

.header {
  width: 80vmax;
  background-color: #282c34;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.p {
  max-width: 40vmin;
}

.footer {
  padding: 2vmin;
  background-color: #39e4e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.link {
  color: white;
}
