

.App-logo {
  max-width:200px;
  max-height: 59px;
  width:100%;
  margin:1rem 0;
}

.App-header {
  background-color: #fafafa;
  min-height: 3vh;
  color: white;
}

.App-link {
  color: #61dafb;
}
.Language__button{
margin: 1rem 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  background-color: #bfbfbf;
  color: #fff;
  border:none;
  border-radius: 0.5rem;
  cursor: pointer
}
.Language__button_active{
  background-color: #f19020;
}
