/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #2880bc 0, #2880bc 22%, #7abdc3 33%, #9bbea5 44%, #d3ad6c 55%, #e7717f 72%, #e7717f); }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: bold; }

h1, h2 {
  line-height: 1.1; }

h3, h4 {
  line-height: 1.3; }

h1 {
  font-size: 400%;
  letter-spacing: -2px; }

h2 {
  font-size: 250%;
  letter-spacing: -1px; }

h3 {
  font-size: 200%; }

h4 {
  font-size: 180%; }

h5 {
  font-size: 130%; }

.flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.justify-space-between {
  justify-content: space-between; }

.justify-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.title {
  color: white; }
