doctype html
html(lang="en")
  head
    title Busbud Osheaga Challenge
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Challenge for Busbud")
  body
    #root
    script(src="index.js")
