@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

/* Boilerplate code to remove default padding and margin */
*,
*:before,
*:after {
  /* Inherits border-box but also allows children to have unique box-sizing if required */
  box-sizing: inherit;
  /* padding and margin remove the default whitespace. Without these there is still whitespace even with width=100% */
  padding: 0;
  margin: 0;
}
