* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: rgba(247, 230, 124);
}

body {
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  color: rgba(2, 86, 135, 0.9);
}

header {
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 230, 124, 1) 90%
  );
}

hr {
  margin: 2rem 0;
  border: 0.5px solid rgba(2, 86, 135, 0.58);
}

main {
  width: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}
