@import-normalize;

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: local('PlayfairDisplay'), url(./assets/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Poppins-Light', sans-serif;
  font-size: 14px;
}

h1, h2 {
  font-family: 'PlayfairDisplay-Bold', serif;
}

b {
  font-family: 'Poppins-Bold', sans-serif;
}

// based on twitter bootstrap
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}