/**
 * Colors based on Osheaga website's / Busbud app's colors
 **/

$dark-blue:     #006694;
$light-blue:    #85C7E6;
$yellow:        #F6EE7E;
$rose:          #C74680;
$gray:          #31363D;
$white:         #FFFFFF;


/**
 *  Other vars
 **/

$section-padding:  24px;
$border-radius:    3px;
$box-shadow:       0 1px 3px rgba(0,0,0,.15), 0 0 0 1px rgba(0,0,0,.05);

$tablet-width:     768px;
$desktop-width:    992px;
$large-width:      1200px;