.container-fluid {
    .header{
        background: transparent;
    }
    h2, p {
        color: wheat;
    }
}

.banner {
    background-image: url('../../assets/bus.jpg');
}

.search-results {
    background-color: #f2f2f2;
    display: flex;
    display: flex;
    flex-wrap: wrap;
}
