@import url('//fonts.googleapis.com/css?family=Roboto');
@import url('//fonts.googleapis.com/css?family=Chau+Philomene+One');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./igloofestbg.jpg');;
  background-repeat: no-repeat;
  background-position: center;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

// ------ HEADER SECTION ------
.header {
	color: grey;
	height: 30px;
	flex-wrap: nowrap;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
  	justify-content: center;
  	border-bottom: 1px solid #e1e1e1;
  	background: rgba(0, 0, 0, 0.7);
}

// ------ CONTENT SECTION ------
.content-container {
}
.page-permanent-announcement {
	display:flex;
	flex-direction:column;
	jusify-content: center;
	width:100%;
	margin-right:auto;
	margin-left:auto;
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 40px;
	color:#FFF;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;
	background: -moz-linear-gradient(top, rgba(51,122,183,0.85) 0%, rgba(117,171,209,0.75) 48%, rgba(122,175,211,0.75) 52%, rgba(188,224,238,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(51,122,183,0.85) 0%,rgba(117,171,209,0.75) 48%,rgba(122,175,211,0.75) 52%,rgba(188,224,238,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(51,122,183,0.85) 0%,rgba(117,171,209,0.75) 48%,rgba(122,175,211,0.75) 52%,rgba(188,224,238,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9337ab7', endColorstr='#00bce0ee',GradientType=0 ); /* IE6-9 */
	background-size: 100vw 100% cover;
}
.on-boarding-section {
	margin-top:10%;
	display:flex;
	flex-direction:column;
	jusify-content: center;
	align-content:center;
	margin-right:auto;
	margin-left:auto;
}
.the-button {
	margin:auto;
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 28px;
	height:100px;
	width: 400px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 25px;
}

// ------ DEPARTURES SECTION ------
.mini-bus-pic{
	width:auto;
	height:100px
}
.departures {
	display:flex;
	justify-content:center;
}
.panel {
	margin: 15px auto 15px auto ;
	display:flex;
	flex-direction: row;
	background: rgba(255, 255, 255, 0.8);
}
.panel-body {
	display:flex;
	justify-content: space-between;
}
.info-box {
	padding: 10px;
	font-size:16px;
	display:flex;
	flex-direction:column;
}
.info-variable {
	font-size: 14px;
}
.panel-footer {
	background:none;
	display:flex;
	align-content: center;
	margin:auto;
	border: none;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey
}

// ------ Loading spinner ------
.glyphicon.spinning {
	text-align:center;
	color:#FFF;

	font-size: 4em;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

// ------ RESPONSIVENESS -------
@media (min-width: 700px) {
 	.panel {
	    max-width: 700px
	}
}
@media (max-width: 700px) {
 	.panel-footer img{
		height:50px;
	}
}
@media (max-width: 450px) {
	.header{
		font-size:10px;
	}
	.the-button {
		font-size: 20px;
		width: 250px;
		height: 60px;
	}
	.panel {
		flex-direction:column;
	}
}
@media (max-width: 600px) {
	.panel-footer{
		display:none;
	}
}