.Loading
	height: 100%
	width: 100%
	top: 0
	bottom: 0
	left: 0
	right: 0
	color: #19f
	background-color: rgba(0,0,0,0.5)
	backdrop-filter: blur(1px)
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	position: absolute
	z-index: 999
	font-size: 3rem