<div class="container-fluid px-0 mb-5">
    <app-nav-bar></app-nav-bar>
    <div class="container-fluid pt-4 secondary-container">
        <div class="tag-container mt-4">
            <p class="tag-line text-center">{{ 'home.comfort_travel' | translate }}</p>
        </div>
        <form class="mx-auto">
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6">
                    <input class="w-100 pl-2" type="text" placeholder="{{ 'home.Leaving_from' | translate}}">
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <input class="w-100 pl-2" type="text" placeholder="{{ 'home.destination' | translate}}">
                </div>
            </div>
            <div class="form-row pb-5">
                <div class="form-group col-sm-12 col-md-6">
                    <button type="submit" class="w-100 date text-left pl-2">{{ 'home.date' | translate }} 28</button>
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <input class="w-100 pl-2" type="number" min="1" placeholder="{{ 'home.passenger' | translate}}">
                </div>
                <div class="text-center col-12 mt-3">
                    <button type="button" class="search-btn" (click)="enablePolling()">{{ 'home.search' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="osheaga text-center row mx-0 w-100 justify-content-center">
        <div class="col-12">
            <div class="text-center">
                <p class="book-tickets mt-4 mb-2">{{ 'home.book_tickets' | translate }}</p>
            </div>
            <div class="osheaga-logo col-12 align-self-center">
                <img class="osheaga-image" src="../../assets/images/Osheaga_Logo-2.png">
            </div>
        </div>
    </div>
    <app-details-card [departure]="departure" [cities]="searchResults.cities" *ngFor="let departure of searchResults.departures">
    </app-details-card>

</div>