<div class="container-fluid px-0">
<app-nav-bar></app-nav-bar>
<div class="container pt-4">
<form>
    <div class="form-row">
        <div class="form-group col-xs-1 col-md-6">
            <input type="text" placeholder="Leaving From" class="w-100">
        </div>
        <div class="form-group col-xs-1 col-md-6">
            <input type="text" placeholder="Going to" class="w-100">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-xs-6">
            <input type="text" placeholder="Date">
        </div>
        <div form="form-group col-xs-6">
            <input type="number" placeholder="passenger">
        </div>
        <button type="submit" class="submit-btn d-none">Search</button>
    </div>
    <button type="submit" class="submit-btn d-block col-xs-12">Search</button>
</form>
</div>
</div>
