.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.contentWrapper {
  width: auto;
}
.searchContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  border: var(--common-border);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--main-border-radius);
}
.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: orange;
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}
.languageSelector {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 5px;
}
.languageSelector > a {
  text-decoration: none;
  text-align: right;
  color: #333;
  min-width: 48px;
  height: 48px;
}

@media (max-width: 700px) {
  .container {
    margin-top: 0;
  }
  .searchContainer,
  .contentWrapper {
    width: 100%;
  }
}
