.homepage {
    height: 100vh;
    display: flex;
    top: 0rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255, 255, 255, 0.6)), url(https://images.unsplash.com/photo-1520095972714-909e91b038e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  }
  