<div class="row mt-2 justify-content-center">

  <div class="col-lg-2 col-md-4 col-sm-8">
    <div class="input-group md-form form-sm form-1 pl-0">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-text1"><i class="fa fa-map-marker"
            aria-hidden="true"></i></span>
      </div>
      <input class="form-control" type="text" placeholder="New York" disabled aria-label="Search">
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-8">
    <div class="input-group md-form form-sm form-1 pl-0">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-text1"><i class="fa fa-location-arrow"
              aria-hidden="true"></i></span>
        </div>
        <input class="form-control" type="text" placeholder="Montreal" disabled aria-label="Search">
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-8">
    <div class="input-group md-form form-sm form-1 pl-0">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-text1"><i class="fa fa-calendar"
              aria-hidden="true"></i></span>
        </div>
        <input class="form-control" type="text" placeholder="Aug 2 2020" disabled aria-label="Search">
    </div>
  </div>

  <div class="col-lg-2 col-md-4 col-sm-8">
      <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-text1"><i class="fa fa-user"
                aria-hidden="true"></i></span>
          </div>
          <select class="custom-select" disabled id="inputGroupSelect01">
            <option selected>1</option>
          </select>
        </div>
  </div>

  <div class="col-lg-2 col-md-4 col-sm-8">
      <button (click)="search()" class="btn btn-success">Search</button>
  </div>

</div>
