* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.App {
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
}

.App header {
  margin: 20px 0 40px 0;
}

.App header .options {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.App header .options .label {
  text-align: center;
  margin-bottom: 3px;
}

.App header .options .buttons {
  display: flex;
  align-items: center;
  height: 45px;
}

.App header .options .buttons > * {
  margin: 0 5px;
  border: 2px solid #ccc;
  padding: 2px 5px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}

.App header .options .buttons > .active {
  border-color: #4871bd;
}

.App header .options .currencies .currency {
  height: 28px;
}

.App header img {
  display: block;
  margin: 0 auto;
  width: 608px;
  height: 132px;
}

.App header h1 {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 40px;
  text-align: center;
  color: #014568;
  letter-spacing: 2px;
  transform: rotate(1deg) skew(1deg);
  text-transform: uppercase;
}

.App header h2 {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 30px;
  text-align: center;
  color: #014568;
  transform: rotate(1deg) skew(1deg);
}

.App .transport-help {
  padding: 15px 20px;
  text-align: center;
}

.App .transport-help .top {
  font-size: 23px;
  font-weight: bold;
}

.App .transport-help .bottom {
  margin-top: 10px;
  font-size: 18px;
}

.App .transport-help .bottom select {
  margin: 0 7px;
  border: 2px solid black;
  border-radius: 3px;
  padding: 3px;
  width: 50px;
  background-color: white;
  font-size: 18px;
  text-align: center;
}

.App .box {
  background-color: #7ab73d;
  border-radius: 5px;
  box-shadow: 3px 3px 0 black;
}

.Results {
  margin: 30px 0;
}

.Results .loading {
  margin: 0 auto;
  max-width: 500px;
  padding: 8px 0;
  border-radius: 4px 4px 0 0;
  text-align: center;
  font-style: italic;
}

.Results .list {
  overflow: hidden;
}

.Results .list .empty {
  text-align: center;
  font-size: 50px;
}

.Results .list .departure {
  display: flex;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.Results .list .departure .locations {
  flex: 1;
  padding: 12px 15px;
  background-color: white;
}

.Results .list .departure .locations .location {
  display: flex;
  margin-top: 5px;
}

.Results .list .departure .locations .location .msg {
  width: 90px;
  text-transform: uppercase;
  color: #555;
}

.Results .list .departure .locations .location .time {
  width: 80px;
  font-weight: bold;
}

.Results .list .departure .locations .place {
  flex: 1;
}

.Results .list .departure .locations .city {
  margin-right: 5px;
}

.Results .list .departure .locations .exact {
  color: #555;
}

.Results .list .departure .details {
  width: 200px;
  padding-top: 30px;
  background-color: #185a82;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.Results .list .departure .details .price {
  font-size: 30px;
  font-weight: bold;
}

.Results .list .departure .details .class {
  margin-top: 3px;
  font-size: 15px;
}

/* Tablet / Phone Adjustments */

@media only screen and (max-width: 768px) {
  .App header img {
    width: 300px;
    height: 66px;
  }

  .App header h1 {
    font-size: 20px;
    letter-spacing: 1.5px;
  }

  .App header h2 {
    font-size: 16px;
  }

  .Results .list .departure {
    flex-direction: column;
  }

  .Results .list .departure .locations .city {
    margin-right: 0;
    display: block;
  }

  .Results .list .departure .details {
    padding: 20px 0;
    width: 100%;
  }
}
