.button {
  padding: 0.25rem 1rem;
  color: white;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  transition: background 0.5s;
}
.button:hover {
  cursor: pointer;
}
.button--primary {
  background-color: orange;
}
.button--primary:hover {
  background-color: #db8f04;
}
.button--secondary {
  background-color: skyblue;
}
.button--secondary:hover {
  background-color: #6dadc8;
}
.button--medium {
  font-size: 1rem;
}
.button--big {
  font-size: 1.5rem;
}
